.newPlanner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: min-content;
    align-self: center;
}
.newPlanner > button {
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}
.newPlanner > a {
    margin-bottom: 50px;
}
.newPlanner > div {
    align-self: center;
    max-height: 100%;
    width: 100%;
}
.newPlannerStage {
    padding: 15px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    background-color: rgb(248, 248, 248);
    max-height: 100%;
    overflow-x: auto;
    margin-top: 20px;
}
.newPlannerStage > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newPlannerStage > div > div.buttons {
    display: flex;
    justify-content: space-around;
}
.columnList {
    display: flex;
    justify-content: center;
    height: 200px;
    padding-top: 20px;
}
.newPlannerStage > div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
}
.newPlannerStage > div > div >input, .newPlannerStage > div > div >textarea{
    color: red;
    align-self: flex-start;
    border: none;
    width: 70%;
    font-size: 16px;
    font-weight: 700;
    
}
.newPlannerStage > div > div >input {
    height: 40px;
}
.newPlannerStage > div > div >textarea {
    resize: none;
    height: 150px;
  
}
.newPlannerStage > p {
    display: flex;
    justify-content: space-around;
    

}
#participants {
    display: flex;
    flex-direction: column;
    
}
#participants > div{
    width: 250px;
    padding: 5px 0px;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    background-color: rgb(248, 248, 248);
    margin: 5px 0px;
}
#participants > div > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text {
    font-size: 18px;
}
@media (max-width: 700px) {
    .newPlanner {
      width: 95%
    }
  
  }
  @media (min-width: 700px) {
    .newPlanner {
      width: 680px;
  
    }
  
  }
