.column{
    background:lightgrey;
    min-width: 240px;
    max-Height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}
.column > div {
    height: 100%;
    width: 100%;

}
.lightblue {
    background: lightblue;
}


.columnHeader {
    color: white;
    background: blue;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: 10px;
    padding-bottom: 5px;

}

.columnBody {
    overflow-y: auto;
    max-height: calc(100% - 60px);
}