.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}
.profile > div {
    display: flex;
    height: 100%;
}
.profile > div > div{
    display: flex;
    background: rgb(51, 58, 19);
    height: 100%;
    width: 17%;
    min-width: 200px;
}
.lateral {
    width: 200px;
}