.Planner {
    width: 100%;
    background: rgb(212, 0, 0);
    display: flex;
}
.Planner > div {
    display: flex;
    height: 100%;
}
.dragging {
    background: yellow;
}

.header {
    width: 100vw;
    height:80px;
}

.stage {
    display: flex;
    max-width: 100%;
    overflow-y: auto;
    padding: 20px ;
    height: 100%;
}
