.taskModal {
    box-shadow: 24;
    border-radius: 10px;
    background-color: white

}

.taskModalHeader {
    display: flex;
    justify-content: space-between;
    background: rgb(61, 111, 204);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 60px;
    align-items: center;
    padding: 0px 10px;
    color: white;
}
.taskModalHeader > div:first-child{
    display: flex;
    flex-direction: column;
}
.taskModalHeader > div:first-child > p {
    display: flex;
    flex-direction: row;
}

.taskModalBody{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    min-height: 150px;
}
.pencil{
    align-self: flex-end;
    color: rgb(61, 111, 204);
    font-size: 20px;
}

.taskModalHeader > div:first-child > p .pencil{
    color: white
}
/* .taskModalHeader > div:first-child > p #standard-size-small{
    color: white;
    font-size: 18px;
    font-weight: 600;
} */

.accountableList >div:first-child{
    width: 50%;
}
.accountableList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.accountable {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 2px 7px;
    height: 30px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 5px 5px 0px 0px;
    width: fit-content;

}
.accountable > span:first-child {
    margin-right: 5px;
}

.accountable > span:last-child {
    color: red;
    font-size: 18px;
    cursor: pointer;
}
.taskModalButtons {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    padding-bottom: 30px;
}
.taskModalButtons > div:first-child {
    display: flex;
    justify-content: space-between;
}
.taskModalButtons > div:last-child {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.taskModalButtons > div:last-child >svg {
    font-size: 19px;
    cursor: pointer;
}

.infoModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 4px;
}

.newUserModalHeader {
    display: flex;
    justify-content: space-between;
}
.newUserModalHeader> div {
    width: 48%;
}

.none {
    background-color: #456C86!important;
    color: white;
}
.priority {
    background-color: #994040!important;
    color: white;
}
.interrupted {
    background-color: #ad88ac!important;
    color: white;
}
.progressing{
    background-color: #62b83a!important;
    color: white;
}
.waiting.more.details {
    background-color: #b4c237!important;
    color: white;
}