
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* Semi-bold 600 italic */
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Roboto Bold 700 */
/* font-family: 'Roboto', sans-serif; */