*{
  box-sizing: border-box;
  margin: 0;
}
body, html, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
 }
 ::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
  transition: 500ms ease-in;

  background: rgb(85, 85, 85);
 }
 ::-webkit-scrollbar-track{
  background: transparent;
  /* border-radius: 12px; */
  box-shadow: inset 7px 10px 12px transparent;
 }

.mat-tooltip {
  font-size: 15px;
}
.target {
  -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
     -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
          transition: border 0.1s linear, box-shadow 0.1s linear;
}

.target.active {
  border-color: rgb(30, 255, 0);
  -webkit-box-shadow: 0 0 5px rgb(30, 255, 0);
     -moz-box-shadow: 0 0 5px rgb(30, 255, 0);
          box-shadow: 0 0 5px rgb(30, 255, 0);
}

@media (max-width: 720px) {
  .functionalities > div {
    margin-left: 0px;
}
}
@media (min-width: 720px) {
  .functionalities > div {
    margin-left: 50px;
  }
}
@media (max-width: 400px) {
  .login {
    width: 100%;
  }
  .form {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .login {
    width: 400px;
  }
  .form {
    width: 300px;
}
}
@media (max-width: 400px) {
  .HomePageHeader {
    padding: 0 10px;
  }
  .HomePageHeader > div {
    width: 110px;
  }
}
@media (min-width: 400px) {
  .HomePageHeader {
    padding: 0 20px;
  }
  .HomePageHeader > div {
    width: 150px;
  }
}
@media (max-width: 510px) {
  .newUserModalHeader {
    flex-direction: column;
  }
  .newUserModalHeader > div {
    width: 100%;
  }

}
@media (min-width: 510px) {
  .newUserModalHeader {
    flex-direction: row;
  }
  .newUserModalHeader > div {
    width: 48%;
  }
}
@media (max-width: 750px) {
  .plannerList {
    display: none;
  }
  .plannerListBars {
    display: flex;
  }
  main {
    width: 100%;
  }
  .stage, .infoPage {
    width: 100%
  }
  .stage {
    margin-left: 0px;
  }
  .graph {
    width: 350px;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .inputs >div {
    width: 100%;
    margin: 5px 0px;
  }
}
@media (min-width: 750px) {
  .plannerList {
    display: block;
  }
  .plannerListBars {
    display: none;
  }
  main {
    width: calc(100% - 300px);
  }
  .stage, .infoPage {
    width: calc(100% - 300px);
  }
  .stage {
    margin-left: 10px;
  }
  .graph {
    width: 500px;
  }
  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .inputs >div {
    width: 48%;
    margin: 0px;
  }
}

/* @media (max-width: 1000px) {
  .infoPage > div {
    border: 1px solid red;
  }
}
@media (min-width: 1000px) {
  .infoPage > div {
    border: 1px solid blue;
  }
}
 */
